* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    background-image: linear-gradient(
      to bottom right,
      #eccc68,
      #ff7f50,
      #ff6b81,
      #1e90ff
    );
    background-size: 100%;
  }
  
  #container {
    max-width: 800px;
    margin: auto;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  }
  #heading {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 10px auto;
  }
  #input {
    width: 94.5%;
    border: none;
    border-bottom: 2px solid #000;
    background: none;
    padding: 10px;
    outline: none;
    font-size: 18px;
    display: inline-block;
  }
  
  h3 {
    margin: 10px 0;
  }
  
  li {
    width: 100%;
    height: 60px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    padding: 18px;
    margin: 6px 0;
    overflow: hidden;
    font-size: 20px;
  }
  
  input:focus::placeholder {
    color: transparent;
    border: transparent;
  }
  
  #button {
    padding: 12px;
    position: absolute;
    border-radius: 60px;
    background-color: aquamarine;
  }
  #button:hover {
    background-color: rgb(42, 230, 167);
  }
  #box {
    float: right;
    margin-right: 5px;
    margin-left: 0;
    cursor: pointer;
  }
  #box:hover {
    color: lime;
  }
  #trash {
    font-size: 5px;
    background-color: burlywood;
    margin-left: 2px;
  }
  #trash:hover {
    background-color: rgb(223, 156, 70);
    color: red;
  }
  
  button {
    float: right;
    cursor: pointer;
    background-color: beige;
    padding: 6px;
    border: none;
    font-size: 20px;
  }
  
  #up {
    float: right;
    cursor: pointer;
  }
  
  #up:hover {
    background-color: rgb(247, 201, 247);
    color: magenta;
  }
  